
<hgroup style="display: block; position: absolute; margin: 0 auto; top: 0; bottom: 0; left: 0; right: 0; width: 40%;">
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>

