@import "Colors.less";

/* *** Buttons *** */
.btn
{
    display: inline-block;
    width: 9em;
    height: 2.7em;
    background-color: rgba(123, 131, 149, 0.3);
    text-align: center;
    line-height: 2.6em;
    font-size: 1em;
    border:1px solid rgba(0,0,0,0);
    margin-top:-1px;
    margin-left:-1px;
    color:white;
}
.btn:hover
{
background-color: rgba(53, 57, 66, 0.55);
border:1px solid @main-color;
}

.btn-icon
{
    background-color:transparent;
    width:auto;
    height:auto;    
}

/* *** Inputs *** */
input[type=text],input[type=password]
{
    display: block;
    width:90%;
    margin: 0 auto 0.3em auto;        
    font-size:1.11em;
    margin-bottom:1em;    
    border-bottom: 1px solid #0091ea !important;       
    background:transparent;
    border:none;
    color:white;
    text-align:center;
}
input:focus{
    outline: 0 !important;
    outline-offset: 0 !important;    
}

input:focus::-webkit-input-placeholder {text-indent: 500px; font-weight:100;transition: text-indent 0.3s ease;}     
input::-webkit-input-placeholder       {font-weight:100;text-indent: 0px;   transition: text-indent 0.3s ease; font-weight:100; color: white; }
input::-moz-placeholder          { color: white; font-weight:100;} /* Firefox 19+ */
input:-moz-placeholder           { color: white; font-weight:100;} /* Firefox 18- */
input:-ms-input-placeholder      { color: white; font-weight:100;}

button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
  background-color: rgba(110, 110, 110, 0.58);
  color: lightgray !important;
  border:1px solid rgba(158,158,158,.16); 
  background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(158,158,158,.16) 5px, rgba(158,158,158,.16) 10px);
}


/* *** Scroll bar *** */
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px;
}

::-webkit-scrollbar-track {
background-color:rgba(25, 28, 35, 0.48);
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#0091EA;
cursor:pointer;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
cursor:pointer;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px;
}

::-webkit-scrollbar{
width: 4px;
max-height:6px;
background-color:rgba(25, 28, 35, 0.95);
}