/*
#add-book-container
{
    width:70%;
    height:80%;    
    margin: 0 auto;
    .window
    {       
        .page-window-container
        {        

            form { margin-top: -1.1em;text-align:center;
                   .field-validation-error{margin-bottom:-1em;}
            }    
            .choose-photo
            {
                width:150px;
                height:150px;
                margin:1em;
                margin-top:0;
                float:left;
                display:inline-block;  
                background-size:80% 80%;                 
            } 

            input[type=text]
            {
                width:50%;
            }
            input[type=submit]
            {
                display: block;
                border-left:none;
                margin-top:0.5em;
            }
        }
    }
}
    */