@using WebGrease.Css
@model Anuitex.WebLibrary.Models.BaseModel
@{
    ViewBag.Title = Model.CurrentEntityName;
}

<div class="nav-status">
    <span class="icon nav-status-icon ic-home"></span>
    <h2 class="nav-status-title">@Model.CurrentEntityName</h2>
    <div class="breadcrumb">
        <a>Home</a>
        <span class="icon ic-arrow-right"></span>
        <a>@Model.CurrentEntityName</a>
    </div>

    <div class="nav-buttons">
        @if (Model.IsCurrentUserAdmin)
        {
            <div class="btn btn-icon">
                <span class="icon ic-add"></span>
            </div>
        }
    </div>
</div>

<div id="index-container">

    <h1>asdasdas</h1>
</div>
<div id="sing-container"></div>